{% extends 'main.html' %}
{% block content %}
    <script>
        let position = 1;
        let inputs;
        let input;
    </script>
    <form method="POST" class="form">
        {% csrf_token %}
        {% for driver in drivers %}
        <div class="card" id="{{ driver.headshot }}">
            <div class="firstHalf">
                <img src="{{driver.headshot}}" alt="">
                <p>{{driver.first_name}} {{driver.last_name}} </p>
            </div>
            <div class="secondHalf">
                <input class="theInput" required type="hidden" name="{{driver.first_name}}" id="{{ driver.number }}"/>
                <div class="theDiv" input="{{ driver.number }}" id="div{{driver.id}}"></div>
            </div> 
        </div>
        <script>
            document.getElementById('{{driver.headshot}}').onclick = () => {
                input = document.getElementById('{{driver.number}}');
                div = document.getElementById('div{{driver.id}}');
                if (!input.hasAttribute('hasbeenset') ) {
                    input.setAttribute('value', position);
                    input.setAttribute('hasbeenset', true);
                    div.append(position);
                    div.style.display = 'block';
                    position++;
                } else if (input.hasAttribute('hasbeenset') && Number(input.getAttribute('value')) === position - 1){
                    input.removeAttribute('value');
                    input.removeAttribute('hasbeenset');
                    div.innerHTML = '';
                    div.style.display = 'none';
                    position--;
                }
            }
        </script>
        {% endfor %}
        <div class="submitButtonContainer">
            <input class="submitButton" type="submit" value="Submit" />
        </div>
        
    </form>

    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .form {
            display: grid;
            grid-template-columns: 200px 200px 200px 200px 200px;
            gap: 20px;
            grid-template-rows: 200px 200px 200px 200px;
        }
        .card {
            border: 2.5px solid black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .firstHalf {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .secondHalf {
            height: 100;
        }
        .theInput {
            border: 2px solid blue;
            width: 100%;
            height: 100%;
            font-size: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .theDiv {
            border: 2.5px solid black;
            border-radius: 50%;
            display: none;
            position: absolute;
            top: 84%; /* Adjust this value as needed */
            left: 50%; /* Adjust this value as needed */
            transform: translate(-50%, -50%);
            z-index: 30;
            font-size: 20px;
            width: 21px;
            height: 21px;
            text-align: center;
            padding: 2px;
            margin-top: 5px;
        }
        .submitButton {
            
        }

    </style>
{% endblock content %}