{% extends 'main.html' %} {% block content %}
<form method="POST" class="form">
  <div class="cardsContainer">
    {% csrf_token %} {% for driver in drivers %}
    <div class="card" id="card{{ driver.id }}">
      <div class="firstHalf">
        <img src="{{ driver.headshot }}" alt="" />
        <p>{{driver.first_name}} {{driver.last_name}}</p>
      </div>
      <div class="secondHalf">
        <input
          class="theInput"
          required
          type="hidden"
          name="{{ driver.first_name }}"
          id="input{{ driver.id }}"
        />
        <div
          class="theDiv"
          input="{{ driver.number }}"
          id="div{{ driver.id }}"
        ></div>
      </div>
    </div>
    <script>
        activateCard('{{ driver.id }}','card{{ driver.id }}', 'input{{ driver.id }}', 'div{{ driver.id }}');
    </script>
    {% endfor %}
  </div>
  <div class="submitButtonContainer">
    <input class="submitButton orbitron" type="submit" value="Submit" />
  </div>
</form>
{% endblock content %}
