<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F1Prode</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="{% static '/js/script.js' %}"></script>
  </head>
  <body class="theBody">
    <div class="track">
      <div class="car formula1">N</div>
      <div class="car formula1">S</div>
      <div class="car formula1">Y</div>
      <div class="car formula1">N</div>
      <div class="car formula1">S</div>
    </div>

    <div class="container">
      {% include 'top_bar.html' %} {% block content %} {% endblock content %}
    </div>
    <div class="track">
      <div class="car formula1">Y</div>
      <div class="car formula1">N</div>
      <div class="car formula1">S</div>
      <div class="car formula1">Y</div>
      <div class="car formula1">N</div>
    </div>
  </body>
</html>
