<span class="theExtraContainer">
    <h1 class="titleContainer"><p class="formula1 marginRight">,</p><p>F1-Prode</p></h1>
</span>
<style>
    .theExtraContainer {
        padding-bottom: 10px;
        background-color: whitesmoke;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .titleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: #da291c;
        font-weight: 700;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        letter-spacing: 2.3rem;
        width: 100%;
    }
    .marginRight {
        margin-right: 15px;
        color: #fff;
        background-color: #da291c;
        padding: 0 10px;
        border-radius: 5px;
    }

</style>